# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Курси\SkillBox\[SkillBox] [Вадим Шандринов] Python-разработчик\5. Модули и пакеты\Доп. материалы\lesson_005\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
