# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Курси\SkillBox\[SkillBox] [Вадим Шандринов] Python-разработчик\4.1. Функции подробнее\Доп. материалы\lesson_004\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
